@media all and (max-width:1600px){
 /*.right_main{display: none;}*/
 #nav a{color:#aaa;}
   /* .left_main{width: 100%;}
    .typing{top:100px}
   .main_cover{padding-top:0} */
   #info{padding-top:0}
    #web{padding-top:0}
}/*end*/

@media all and (max-width:1179px){
  .info_box{flex-wrap: wrap;}
  .info_right_box{margin:0 auto;}
    
}/*end*/
@media all and (max-width:1080px){

}/*end*/
@media all and (max-width:1024px){
  /*.main_cover img {padding-top:300px;}
  .typing { top: 500px;left: -130px;}*/
  .right_main{display: none;}
  .left_main{/*height:1150px;*/width:100%; height:100%;background-color:#8d7e6b;position: relative;
    display: flex;align-content: center;justify-content: center;}

.slick-prev {background-image: url(../images/prev_shadow.png);}/*end*/
.slick-next {background-image: url(../images/next_shadow.png);}/*end*/
}
@media all and (max-width:768px){
  /*.typing{margin-left:10%;margin-top:20px;left:0;}*/
   #nav_mo{display: block;}
   .nav_btn{display: block;}
   #nav{display: none;}
  .typing_txt{font-size:4rem}
.web_txt_box {
  width: 100%;
  height: auto;
  background-color: rgba(141,126,106,0.9);
  padding: 10px;
  box-sizing: border-box;
  position: absolute;
  right: 0;
  top: auto;
  bottom: 0;}
  .slick-slide img{width:100%}
  .web_txt_box p{display: none;}
}



@media all and (max-width:414px){
  .typing_txt{font-size:2.5rem}
  .main_cover img {padding-top: 100px;width: 100%;}
  .typing_txt{font-size: 2.8rem;}
    .typing {top: 150px;}
    .info_tit{    font-size: 1.5rem;}
    .profile_tit img{width:100%}
    
    .web_txt_box h2 {font-size: 2.5rem;}
    .web_tit{transform: translate(10px, 0)}

    .panels .tabSet ul li {
      width: 100%;
      /*background-color: green;*/
  }
  .tabSet ul li img{width:100%}
  
    .info_right_box .bar h3 {width: 80px;font-size: 0.8rem;padding-left:10px;}
    .info_right_box .bar p{padding-right:10px;}
    .info_right_box .bar p {padding-right: 6px;}
  
  .info_right_box .bar p {font-size: 0.8rem;}

   }/*end*/
    @media all and (max-width:375px){
      .typing_txt{font-size:1.5rem}
  .info_right_box .bar h3 { width: 100px;font-size: 1rem;}
  .info_tit {font-size: 1.2rem;}
  

   }/*end*/

   @media all and (max-width:320px){
     .info_right_box{width:100%;margin:0 auto;}
     .bar{width:100%;}
     .info_right_box .bar p {width:60px;}
     .typing_txt{font-size:2.0rem}
     .info_right_box #result{width:160px;}
     .web_txt_box h2 {
      font-size: 2rem;
      padding-left: 10px;}
   }
